#banner {
    width:90%;
    display:flex;
    justify-content:space-between;
}

#high-scores {
    text-align:left;
}

#time {
    text-align:right;
}

#main-text {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:40%;
    margin-left:30%;
}

#question {
    font-weight:bold;
    margin-left:20px;
}

#button-responses {
    margin-left:35px;
}

#right-wrong {
    border-top: 3px solid black;
}